.App, .display, .button-panel {
  display: flex;
}

.App {
  flex-direction: column;
  margin: 20px auto;
  width: 700px;
}

.display {
  background-color: grey;
  color: #fff;
  direction: rtl;
  flex-direction: row;
  font-size: 70px;
  font-weight: bold;
  height: 80px;
  padding: 8px;
}

.btn-group {
  height: 100px;
}

.btn {
  border: 1px solid;
  font-size: 40px;
  font-weight: bold;
  height: 100%;
  text-align: center;
}
